<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavFilms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91DDDA2E1CC8E63400FC7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DDDA451CC8E63400FC7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DDDA501CC8E63400FC7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
